.site-body {
    display: flex;
    justify-content: space-around;
}

.post-thumbnail--loading {
  animation: 2s linear 0s 10 normal forwards running img-bg-loading;
  &::after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }
}
.post-thumbnail {
  display: block;
  position: relative;
  img {
    display: block;
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    &::after {
      content: "";
      display: block;
      padding-bottom: 100%;
    }
  }
  .post-title {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: $white;
    padding: .5rem 1rem;
    background-image: linear-gradient(rgba($color: $black, $alpha: .2), rgba($color: $black, $alpha: 0));
    font-size: 1rem;
    line-height: 1rem;
    margin: 0;
  }
  &:before{
    content:"";
    position:absolute;
    top:0; left:0; right:0; bottom: 0;
    background-image: linear-gradient(rgba($color: $black, $alpha: .2), rgba($color: $black, $alpha: .5));
    transform: scaleY(0);
    transform-origin: 50% 100%;
    transition: transform 0.5s ease-out;
    z-index: 1;
  }
  &:hover:before {
    transform: scaleY(1);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66); /*creates bounce*/
  }
}
.post-meta span {
  display: block;
  font-size: .8rem;
  text-align: right;
  margin: .4rem;
}
/*************************************************/
@keyframes img-bg-loading {
  0% {background-color: darken(white, 2%);}
  50% {background-color: darken(white, 12%);}
  100% {background-color: darken(white, 2%);}
}
