.comments-area {
  position: relative;
  width: 100%;
  margin: 2rem 0 0 0;
}
.comment-list {
  list-style: none;
}

.comment {
  box-shadow: 0 .1rem .5rem rgba($color: $black, $alpha: .2);
  padding: 0 1rem 1rem 1rem;
  margin: 2rem 0;
}

.comments-title {
  font-size: 1.5rem;
  line-height: 2rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid $oil;
}

.comment-author {
  display: flex;
  margin-bottom: 1rem;
  border-bottom: 1px solid rgba($color: $black, $alpha: .2);
  padding: .5rem 0;
  img {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
  }
  .fn {
    align-self: center;
    font-size: 1.5rem;
    border-radius: 50%;
    margin: 0 1rem;
  }
  .says {
    display: none;
  }
}

.comment-meta {
  text-align: right;
  font-size: .9rem;
}

.comment-reply-title {
  font-size: 1.5rem;
  font-weight: 900;
}

.comment-respond {
  box-shadow: 0 .1rem .5rem rgba($color: $black, $alpha: .2);
  padding: 1rem;
  margin: 2rem 0;
  
  @media #{$medium-up} {
    padding: 2rem;
  }
}

.comment-form {
  label {
    display: flex;
    flex-flow: column;
  }
  span {
    font-size: 1rem;
    text-align: left;
    margin: 1.5rem 0 .2rem;
  }
  textarea, input {
    max-width: 100%;
    border: 1px solid rgba($color: $black, $alpha: .2);
    font-size: 1rem;
    line-height: 1.5rem;
    padding: .2rem .5rem;
  }
  textarea {
    height: 10rem;
    display: block;
  }

  .form-submit {
    margin-bottom: 3rem;
  }
  .submit {
    position: absolute;
    right: 1rem;
    background-color: $color-complement-4;
    border-radius: 5px;
    border: 1px solid darken($color-complement-4, 10%);
    color: $white;
    margin: 1rem 0 0;
    cursor: pointer;

    &:hover {
      background-color: darken($color-complement-4, 10%);
    }
    @media #{$medium-up} {
      right: 2rem;
    }
  }
}