
/************ Content Related styles ****************/
.text-center {
  text-align: center;
}
.strong {
  font-weight: 900;
}
p {
  font-size: 1.2rem;
  line-height: 1.4rem;
  margin-bottom: 2rem;
}

.content-area {
  width: 100%;
  @media #{$medium-up} {
    width: 60%;
  }
  ul {
    margin-left: 1rem;
  }
}
.content-area.grid {
  display: flex;
  flex-flow: row wrap;
  
  .post {
    width: 100%;
    margin: .5rem 0;
  }
  
  @media #{$medium-up} {
    width: 70%;
    .post {
      width: calc(33.3333% - 1rem);
      margin: .5rem;
    }
  }
  p {
    font-size: 1rem;
    margin-bottom: .4rem;
  }
}

.post-title {
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 500;
  a {
    color: $jet;
  }
}

.post-content img {
  max-width: 100%;
}
