
/************ Icons ****************/
@font-face {
  font-family: 'icons-mqv';
  src: url('../../fonts/icons-mqv.ttf?160120180000') format('truetype');
  font-weight: normal;
  font-style: normal;
}

[class*="icon__"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons-mqv' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon__sheldonled:before {
  content: "\e904";
}
.icon__camera:before {
  content: "\e900";
}
.icon__cutlery:before {
  content: "\e901";
}
.icon__notepad:before {
  content: "\e902";
}
.icon__plane:before {
  content: "\e903";
}
.icon__facebook:before {
  content: "\f1d7";
}
.icon__instagram:before {
  content: "\f24d";
}
.icon__pinterest:before {
  content: "\f2ba";
}
.icon__search:before {
  content: "\f2eb";
}
.icon__comments-o:before {
  content: "\f1a2";
}
.icon__youtube-play:before {
  content: "\f38c";
}
.icon__globe:before {
  content: "\f219";
}
.icon__times:before {
  content: "\f342";
}
.icon__navicon:before {
  content: "\f29a";
}
.icon__twitter:before {
  content: "\f359";
}
.icon__youtube:before {
  content: "\f38b";
}
