/************ General Styles ****************/
html,body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen-Sans, Ubuntu, Cantarell, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  position: absolute;
  color: $oil;
  -webkit-overflow-scrolling: touch;
}
::selection {
  color: $white;
  background: $rgba-primary-4;
}
b,
strong {
  font-weight: 900;
}
a {
  text-decoration: none;
  color: $color-complement-4;
  &:visited {
    color: $color-complement-4;
  }
  &:hover {
    text-decoration: underline;
  }
}
.wrap {
  width: 100%;
  max-width: #{upper-bound($large-range)};
  margin: 0 auto;
  padding: 0 1rem;

  @media #{$xlarge-up} {
      padding: 0;
  }
}
.clear {
  clear: both;
}
.frozen {
  overflow: hidden;
  position: fixed;
}


.social a {
  text-decoration: none;
  margin: 0 .5rem 0 0;
}
.social .icon__youtube-play {
  background-color: $white;
  border-radius: 50%;
  padding: .12em;
  color: $red-youtube;
  &:hover{
    background-color: $red-youtube;
    color: $white;
  }
}
.social .icon__instagram {
  background-color: $white;
  border-radius: 50%;
  padding: .12em;
  &:hover {
    background: transparent;
    padding: 0;
  }
  &:hover::before {
    padding: .12em;
    display: block;
    -webkit-background-clip: unset;
    -webkit-text-fill-color: unset;
  }
}
.social .icon__instagram:before {
  color: $white;
  border-radius: 50%;
  background: $pink-instagram;
  background: $instagram-gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.social .icon__pinterest {
  background-color: $white;
  border-radius: 50%;
  padding: .12em;
  color: $red-pinterest;
  &:hover{
    background-color: $red-pinterest;
    color: $white;
  }
}
.social .icon__twitter {
  background-color: $white;
  border-radius: 50%;
  padding: .12em;
  color: $blue-twitter;
  &:hover{
    background-color: $blue-twitter;
    color: $white;
  }
}
.social .icon__facebook {
  background-color: $white;
  border-radius: 50%;
  padding: .12em;
  color: $blue-facebook;
  &:hover{
    background-color: $blue-facebook;
    color: $white;
  }
}