
/************ LOGO ****************/
.logo {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid $black;
  position: relative;
  font-size: 100%;

  &:visited, &:link, &:active{
    color: $black;
  }
  .icon__plane:after {
    content: '';
    width: 10px;
    height: 115%;
    display: block;
    border-radius: 50%;
    background: $white;
    position: absolute;
    top: -10%;
    left: 35%;
    animation: .5s linear 2.4s 1 normal forwards running tiltingbg;
    z-index: 110;
  }
  .icon__plane:before {
    display: block;
    position: relative;
    transform: rotate(-38deg);
    animation: .5s linear 2.4s 1 normal forwards running tiltingplane;
    z-index: 120;
  }
  .icon__notepad:before {
    position: relative;
    top: 5%;
  }
  .icon__cutlery:before {
    position: absolute;
    top: -8%;
  }
}
.logo__text {
  width: 85%;
  position: absolute;
  top: 16%;
  left: 10%;
}
.icon__plane {
  position: absolute;
  top: 40%;
  left: 30%;
  font-size: 180%;
  transform: rotate(0) translate(-50px);
  animation: 2.4s linear 0s 1 normal none running flying;
  z-index: 100;
}
.icon__camera {
  position: absolute;
  opacity: 0;
  top: -10%;
  left: 32%;
  font-size: 150%;
  background: $white;
  padding: 0 5px;
  animation: .5s linear .6s 1 normal forwards running displaying;
}
.icon__notepad {
  position: absolute;
  opacity: 0;
  left: 92%;
  top: 35%;
  font-size: 180%;
  background: $white;
  height: 32%;
  animation: .5s linear 1.2s 1 normal forwards running displaying;
}
.icon__cutlery {
  position: absolute;
  opacity: 0;
  top: 85%;
  left: 42%;
  font-size: 250%;
  background: $white;
  width: 20%;
  height: 30%;
  animation: .5s linear 1.8s 1 normal forwards running displaying;
}
/************ Plane animation ****************/

@keyframes flying {
  0% {
    transform: rotate(0) translate(-50px);
  }    
  100% {
    transform: rotate(360deg) translate(-50px);
  }
}

@keyframes tiltingplane {
  0% {
    transform: rotate(-38deg);
  }    
  100% {
    transform: rotate(0);
  }
}

@keyframes tiltingbg {
  0% {
    transform: rotate(0);
  }    
  100% {
    transform: rotate(38deg);
  }
}

@keyframes displaying {
  0% {
    opacity: 0;
  }    
  100% {
    opacity: 1;
  }
}