.post-header .post-meta {
  @include grid;
  @include grid-template-columns(1fr 13rem);
  @include grid-template-rows(3rem);
  font-size: .7rem;
  margin: 1rem 0;
}
.post-header .pub-date {
  @include grid-column(1);
  @include grid-row(1, 2);
  display: flex;
  align-items: center;
  margin: 0 .5rem 0 0;
  @media #{$medium-up} {
    @include grid-row(1);
  }
}
.post-header .cat-links {
  @include grid-column(2);
  @include grid-row(2);
}

.post-header .post-share {
  transition: all .5s ease;
  top: 0;
  left: 50%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  @include grid-column(2);
  @include grid-row(1);

  &.sticky {
    position: fixed;
    top: 20%;
    left: 0;
    flex-flow: column;
    margin: 0;
    z-index: index($z-index, sticky-share);

    .icon__facebook,
    .icon__twitter,
    .icon__pinterest,
    .icon__whatsapp,
    .icon__link {
      margin: .25rem;
    }

    .share-text {
      display: none;
      @media #{$medium-up} {
        display: block;
      }
    }
  }

  .share-text {
    font-size: .4rem;
    margin: .1rem;
  }

  .icon__facebook,
  .icon__twitter,
  .icon__pinterest,
  .icon__whatsapp,
  .icon__link {
    margin: 0 .2rem;
    font-size: 1rem;
    color: $white;
    border-radius: 50%;
    padding: .2rem;

    &:hover,
    &:focus {
      outline: none;
      text-decoration: none;
    }
  }
  .icon__facebook {
    background-color: $blue-facebook;
  }
  .icon__twitter {
    background-color: $blue-twitter;
  }
  .icon__pinterest {
    background-color: $red-pinterest;
  }
  .icon__whatsapp {
    background-color: $green-whatsapp;
  }
  .icon__link {
    background-color: $rgba-secondary-2-0;
  }
}