/************ SETTINGS ****************/


/************ COLORS ****************/
$white       : #FFFFFF;
$ghost       : #FAFAFA;
$snow        : #F9F9F9;
$vapor       : #F6F6F6;
$white-smoke : #F5F5F5;
$silver      : #EFEFEF;
$smoke       : #EEEEEE;
$gainsboro   : #DDDDDD;
$iron        : #CCCCCC;
$base        : #AAAAAA;
$aluminum    : #999999;
$jumbo       : #888888;
$monsoon     : #777777;
$steel       : #666666;
$charcoal    : #555555;
$tuatara     : #444444;
$oil         : #333333;
$jet         : #222222;
$black       : #000000;

/************* THEME COLORS HEX **************/
// Palette URL: http://paletton.com/#uid=65z0u0k8rG31zXW4zQvc+viiepW */

$color-primary-0: #F8B7BF;	// Main Primary color */
$color-primary-1: #FEF2F3;
$color-primary-2: #FCD8DC;
$color-primary-3: #EF8E9A;
$color-primary-4: #C65563;

$color-secondary-1-0: #FFD7BC;	// Main Secondary color (1) */
$color-secondary-1-1: #FFF8F3;
$color-secondary-1-2: #FFE9DB;
$color-secondary-1-3: #F9BD94;
$color-secondary-1-4: #CF8959;

$color-secondary-2-0: #D89FC5;	// Main Secondary color (2) */
$color-secondary-2-1: #F9EDF5;
$color-secondary-2-2: #EBCAE0;
$color-secondary-2-3: #BF71A5;
$color-secondary-2-4: #9E4481;

$color-complement-0: #B5E5A8;	// Main Complement color */
$color-complement-1: #F2FBEF;
$color-complement-2: #D7F2CF;
$color-complement-3: #8FD27D;
$color-complement-4: #60AE4B;

/************* THEME COLORS RGBA **************/

$rgba-primary-0: rgba(248,183,191,1);	// Main Primary color */
$rgba-primary-1: rgba(254,242,243,1);
$rgba-primary-2: rgba(252,216,220,1);
$rgba-primary-3: rgba(239,142,154,1);
$rgba-primary-4: rgba(198, 85, 99,1);

$rgba-secondary-1-0: rgba(255,215,188,1);	// Main Secondary color (1) */
$rgba-secondary-1-1: rgba(255,248,243,1);
$rgba-secondary-1-2: rgba(255,233,219,1);
$rgba-secondary-1-3: rgba(249,189,148,1);
$rgba-secondary-1-4: rgba(207,137, 89,1);

$rgba-secondary-2-0: rgba(216,159,197,1);	// Main Secondary color (2) */
$rgba-secondary-2-1: rgba(249,237,245,1);
$rgba-secondary-2-2: rgba(235,202,224,1);
$rgba-secondary-2-3: rgba(191,113,165,1);
$rgba-secondary-2-4: rgba(158, 68,129,1);

$rgba-complement-0: rgba(181,229,168,1);	// Main Complement color */
$rgba-complement-1: rgba(242,251,239,1);
$rgba-complement-2: rgba(215,242,207,1);
$rgba-complement-3: rgba(143,210,125,1);
$rgba-complement-4: rgba( 96,174, 75,1);

/************* WATER-COLORS ***************/
$water-blue: #dff4ff;

/************* SOCIAL COLORS **************/

$red-youtube: #ff0201;
$blue-facebook: #3c5b9a;
$blue-twitter: #1ba1f3;
$red-pinterest: #be0a1d;
$pink-instagram: #d6249f;
$instagram-gradient: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
$green-whatsapp: #2cb742;

/************ MEDIA QUERIES ****************/
$small-range: (0rem, 40rem);
$medium-range: (40.063rem, 64rem);
$large-range: (64.063rem, 90rem);
$xlarge-range: (90.063rem, 120rem);
$xxlarge-range: (120.063rem, 99999999rem);

$screen: "only screen";

$small-up: $screen;
$small-only: "#{$screen} and (max-width: #{upper-bound($small-range)})";

$medium-up: "#{$screen} and (min-width:#{lower-bound($medium-range)})";
$medium-only: "#{$screen} and (min-width:#{lower-bound($medium-range)}) and (max-width:#{upper-bound($medium-range)})";

$large-up: "#{$screen} and (min-width:#{lower-bound($large-range)})";
$large-only: "#{$screen} and (min-width:#{lower-bound($large-range)}) and (max-width:#{upper-bound($large-range)})";

$xlarge-up: "#{$screen} and (min-width:#{lower-bound($xlarge-range)})";
$xlarge-only: "#{$screen} and (min-width:#{lower-bound($xlarge-range)}) and (max-width:#{upper-bound($xlarge-range)})";

$xxlarge-up: "#{$screen} and (min-width:#{lower-bound($xxlarge-range)})";
$xxlarge-only: "#{$screen} and (min-width:#{lower-bound($xxlarge-range)}) and (max-width:#{upper-bound($xxlarge-range)})";