.sidebar {
  position: fixed;
  width: 100vw;
  height: 100vh;
  right: -100vw;
  top: 0;
  overflow: auto;
  padding: 1rem;
  margin: 0;
  z-index: 400;
  background-image: url(../../img/splash1-corner.png), linear-gradient(-45deg, $color-primary-2, $water-blue);
  background-repeat: no-repeat;
  background-size: 100%;
  box-shadow: 0 .1rem .5rem rgba($color: $black, $alpha: .2);
  text-shadow: 0 1px 2px rgba($color: $black, $alpha: .2);
  transition: all linear .5s;
  &.menu__open {
    top: 0;
    right: 0;
  }

  h3 {
    text-align: center;
    color: $oil;
    font-size: 1.5rem;
    line-height: 2.5rem;
    a{
      text-decoration: none;
      color: $oil;
    }
  }
  .sidebar__youtube--title:hover .icon__youtube {
    color: $red-youtube;
    text-shadow: 0 1px 2px rgba($color: $white, $alpha: .2);
  }
  .sidebar__youtube--video {
    width: 100%;
  }

  .main-navigation .search-form {
    display: none;
    position: relative;
    width: 100%;
    margin: 0 0 1rem 0;
    right: auto;
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .main-navigation .search-submit {
    -webkit-appearance: none;
    line-height: 1.5rem;
    padding: .2rem .5rem;
  }
  @media #{$medium-up} {
    width: 30%;
    height: auto;
    right: auto;
    position: relative;
    margin: 0 0 0 1rem;
    .main-navigation .menu {
      display: none;
    }
    .main-navigation .search-form {
      display: block;
    }
  }

  .about-photo img{
    display: block;
    position: relative;
    width: 70%;
    max-width: 16rem;
    margin: 0 auto;
    border-radius: 50%;
  }
  .menu {
    @include grid;
    @include grid-template-columns(1fr 1fr);
    @include grid-template-rows(min-content);
    list-style: none;
    line-height: 3rem;
    background-color: $white;
    box-shadow: 0 2px 4px rgba($color: $black, $alpha: .2);
    text-shadow: 0 1px 2px rgba($color: $black, $alpha: .2);
    margin-bottom: 1rem;
    padding: 0;
    text-align: center;
    [class*="menu-item__"]:nth-child(odd) {
        border-bottom: 1px solid $color-complement-4;
        border-right: 1px solid $color-complement-4;
    }
    [class*="menu-item__"]:nth-child(even) {
        border-bottom: 1px solid $color-complement-4;
    }
    [class*="menu-item__"]:nth-last-child(-n+2) {
      border-bottom: none;
    }
    .menu-item__morando-na-irlanda a {
      color: $color-secondary-1-4;
    }
    .menu-item__viagens a {
      color: $color-secondary-2-4;
    }
    .menu-item__culinaria a {
      color: $color-secondary-1-3;
    }
    .menu-item__sobre-a-autora a {
      color: $color-secondary-2-3;
    }
    a {
      width: 100%;
      height: 100%;
      display: block;
      text-decoration: none;
    }
    @media #{$medium-up} {
      display: none;
    }
  }
  .about-description {
    text-align: justify;
    margin-bottom: 1rem;
  }
  .about-description .social {
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    margin: .5rem 0;
    @media #{$large-up} {
      font-size: 2rem;
    }
  }
  .insta-feed {
    @include grid;
    @include grid-template-columns(1fr 1fr);
    @include grid-template-rows(min-content);
    grid-gap: .5rem;
    list-style: none;
    background-color: white;
    padding: .5rem;
    margin-bottom: 5rem;
    li {
      align-self: center;
    }
    a {
      display: block;
    }
    img {
      width: 100%;
    }
  }
}