$site-header-height: 5.5rem;
$hero-padding: 16rem;

/* Colors */
$primary-yellow: #e7a603;
$primary-green: #00403f;
$primary-orange: #f9651d;
$primary-red: #db4545;
$text-default-color: #605e5e;
$text-white-1: #ffe7b8;
$white: #FFF;
$transparent-black: rgba(0, 0, 0, 0.2);
$header-footer-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.7);